.home-tag {
    background-color: #4285F4;
    border-radius: 8px;
    color: #FFFFFF;
    font-size: 12px;
    padding: 5px 10px;
    position: relative;
  }

  .home-tag::after {
    content: "";
    position: absolute;
    left: 50%;
    top: 100%;
    transform: translate(-50%, 0);
    width: 0;
    height: 0;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-top: 8px solid #4285F4;
  }

  .done-tag {
    background-color: #148809;
    border-radius: 8px;
    color: #FFFFFF;
    font-size: 14px;
    padding: 3px 6px;
    position: relative;
  }
  .done-tag::after {
    content: "";
    position: absolute;
    left: 50%;
    top: 90%;
    transform: translate(-50%, 0);
    width: 0;
    height: 0;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-top: 8px solid #148809;
  }


  .custom-scrollbar::-webkit-scrollbar {
    width: 8px; /* Width of the scrollbar */
  }

  .custom-scrollbar::-webkit-scrollbar-thumb {
    background-color: #4a5568; /* Color of the scrollbar thumb */
    border-radius: 4px; /* Rounded corners on the thumb */
  }

  .custom-scrollbar::-webkit-scrollbar-track {
    background-color: #e2e8f0; /* Background of the scrollbar track */
  }